<h1> <%= @product.name %> </h1>
<h1> <%= @product.code %> </h1>
<h1> <%= @product.category %> </h1>
<h1> <%= @product.stock %> </h1>

 <%= link_to "Go to all products", products_path %>
 <%= link_to "Borrar", product_path(@product), method: :delete, data: {confirm: "Are your sure?"}  %>
 <%= link_to "Editar", edit_product_path(@product) %>
